:root {
	--background: rgb(8 14 38);
	--background-floating: hsl(228deg 67% 13%);
	--background-floating-higher: #292a2d;
	--text-color: white;
	--text-muted: #b3b3b3;
	--font-family: "Open Sans", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
	--header-font-family: var(--font-family);
	--accent-color: #4bcad8;
	--width: 500px;
	--height: 579px;
	--button-size: 2rem;
	--interactive-active: #ffffff2b;
	--interactive-hover: #ffffff33;
	--recents-album-image-size: 9em;
	--recents-button-size: calc(var(--recents-album-image-size) / 4);
	--player-button-color: white;
	--player-button-size: 1.7rem;
	--player-big-button-size: 3.5rem;
	--art-size: calc(var(--width) / 2);
	--active-icon-color: gold;
	--hint-icon-color: rgb(255, 236, 130);
	--font-size: 16px;
	--icon-color: white;
}

body, #app {
	font-family: var(--font-family);

	background: var(--background);
	width: 100vw;
	max-width: 100vw;
	min-width: 100vw;
	min-height: 100vh;
	max-height: 100vh;
	height: 100vh;
	overflow: hidden;

	color: var(--text-color);
	cursor: default;
}

a {
    color: #fff;
    text-decoration: none;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
	font-family: var(--header-font-family);
}

#main {
	position: relative;
	min-height: 100%;
	width: 0;
	overflow-y: scroll;
	overflow-x: hidden;
	background: var(--background);
	flex-grow: 1;
}

#app {
	display: flex;
	flex-direction: column;
}

.growUp {
	display: flex;
	align-items: stretch;
	width: 100%;
	height: calc(100vh - 5rem);
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-thumb {
	background: var(--text-muted);
	box-shadow: 5px 5px black;
}


.songs {
	border-spacing: 0 0.5rem;
	width: 100%;
	padding: 2rem;
}
.td {
	padding: 0.5rem;
}

.td > *, .th {
	position: relative; /* be over the gradient */
}


.th, .td:first-child, .td:last-child {
    text-align: center;
}

.th {
    color: var(--text-muted);
    font-weight: 300;
}

.th:nth-child(2) {
	text-align: left;
}

.tr:not(th)/*:not(th) is useless but raises specificity*/:hover > *:not(th) {
    background: var(--interactive-hover);
	transform: translateY(-2px);
}

.td:first-child {
    border-radius: 10px 0 0 10px;
}

.td:last-child {
    border-radius: 0 10px 10px 0;
}

.td:not([colspan]/* show more button */) {
	cursor: pointer;
	transition: all .1s;
}

.tr:nth-child(2n) > *:not(th) {
    background: var(--background-floating);
}

.thead .tr {
    border-bottom: solid 1px white;
}

.tdGroup {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.aName {
    color: var(--text-muted);
}

.tdplay {
	display: none;
}
.tdplay::before {
	font-family: "boxicons";
	content: "\eb86";
	font-size: 2rem;
	margin: 0 -100rem; /* don't margin. at all. don't. don't do it. */
	display: block;
}

.tr:not(th)/*:not(th) is useless but raises specificity*/:hover > .td > .tdplay {
	display: block;
}

.tr:not(th)/*:not(th) is useless but raises specificity*/:hover > .td > .tdnum {
	display: block;
	max-height:0;
	height:0;
	min-height:0;
	overflow:hidden;
}

td.td:first-child {
    padding: 0;
}