:root {
	--background: black;
	--background-floating: #1b1b1b;
	--text-color: white;
	--text-muted: grey;
	--font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
	--header-font-family: "Zilla Slab";
	--accent-color: #009a00;
	--width: 500px;
	--height: 579px;
	--button-size: 2rem;
	--interactive-active: #ffffff2b;
	--interactive-hover: #ffffff33;
	--recents-album-image-size: 9em;
	--recents-button-size: calc(var(--recents-album-image-size) / 4);
	--player-button-color: white;
	--player-button-size: 1.7rem;
	--player-big-button-size: 3.5rem;
	--art-size: calc(var(--width) / 2);
}
body, html {
	width: var(--width);
	height: var(--height);
	padding: 0;
	margin: 0;
}

button {
	cursor: pointer;
}

#main {
	background: var(--background);
	color: var(--text-color);
	font-family: var(--font-family);
	font-weight: var(--font-weight);


	position: relative;
	width: var(--width);
	height: var(--height);
	box-sizing: border-box;

	padding: 0;
	overflow: hidden;

}

#slider {
	position: relative;
	width: calc(var(--width) * 4);
	display: flex;
	min-width: calc(var(--width) * 4);
	max-width: calc(var(--width) * 4);
	min-height: var(--height);
	max-height: var(--height);
	height: var(--height);
	transition: right 250ms ease-in-out;
	animation: preventSlideTransition 250ms;
}
#slider > section {
	width: var(--width);
	height: var(--height);
	margin: 0;
	position: relative;
	overflow-y: auto;
	overflow-x: hidden;
	padding: 0;
}

#goleft, #goright {
	background: none;
	color: var(--text-color);
	border-radius: 1em;
	font-size: var(--button-size);
	border: none;
	outline: none;

	animation: yeaIn 500ms;

	pointer-events: auto;
	transition: opacity 100ms ease-in-out;
}

#goleftcontainer, #gorightcontainer {
	position: absolute;
	top: 0;
	bottom: 0;
	height: var(--height);
	display: flex;
	flex-direction: row;
	align-items: center;
	background: none;
	border: none;
	outline: none;
	pointer-events: none;
	z-index: 9;
}

#goleftcontainer {
	left: 1rem;
}
#gorightcontainer {
	right: 1rem;
}

.ico {
	width: 100%;
	height: 100%;
	background: none;
}

.hidden {
	display: none;
}

input#listgrid, #refresh, #listgrid2 {
    appearance: none;
    width: 1.3em;
    height: 1.3em;
    background: none;
    border: none;
    border-radius: 0.3em;
    outline: none;
    transition: background-color 250ms;
    cursor: pointer;
    align-self: center;
	font-size: inherit;
	color: white;
    display: flex;
    align-items: center;
}

input#listgrid::before, #refresh::before, #listgrid2::before {
    width: 100%;
    text-align: center;
}
input#listgrid:checked, #listgrid2:checked {
    background: var(--interactive-active);
}

input#listgrid:not(:checked):hover, #refresh:not(.refreshing):hover, #listgrid2:not(:checked):hover {
    background: var(--interactive-hover);
}

.separator {
	flex-grow: 1;
}

.topbar {
    display: flex;
    align-items: center;
	margin: 0;
	position: sticky;
	top: 0;
    padding: 1rem;
    font-size: calc(var(--width) / 15);
	border-bottom: solid 1px #ffffff29;
	background: var(--background-floating);
	z-index: 8;
}

h1 {
    margin: 0;
	font-size: inherit;
	font-family: var(--header-font-family);
}

.hI > img {
    height: var(--recents-album-image-size);
    width: var(--recents-album-image-size);
    position: relative;
    background: var(--background);
    display: flex;
    align-items: center;
    flex-direction: column;
    color: var(--background);
    overflow: hidden;
    box-sizing: border-box;
    min-height: var(--recents-album-image-size);
    min-width: var(--recents-album-image-size);
}

.hI > img::after {
	/* content: "\e97a"; */
	font-family: "boxicons";
	font-size: calc(var(--recents-album-image-size) / 1.5);
	background: var(--background);
	display: flex;
	text-align: center;
	position: absolute;
	top: 0;
	height: var(--recents-album-image-size);
	flex-direction: row;
	align-items: center;
	margin: 0;
	padding: 0;
	max-height: var(--recents-album-image-size);
	box-sizing: border-box;
	flex: 0 0;
}

#history {
    padding: 0;
	margin: 0;
}

.hI {
    margin: 0;
    padding: 0;
    display: flex;
	align-items: center;
	border-bottom: solid 1px var(--interactive-hover);
}

.gridmode .hI {
	width: var(--recents-album-image-size);
	height: var(--recents-album-image-size);
	border-bottom: none;
	border-radius: 2em;
	margin-bottom: 2%;
	position: relative;
	box-sizing: border-box;
}

.hI:last-child {
	border-bottom: none;
}

.historyAaa {
	flex-grow: 1;
	padding-left: 1.1em;
	display: flex;
	flex-direction: column;
	width: 0;
	animation: listIn 800ms;
}

.gridmode .historyAaa {
	flex-grow: 0;
	overflow: hidden;
	animation: none;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	width: 100%;
	padding: 0;
	margin: 0;
	display: flex;
	align-items: center;
	opacity: 0;
	background: #00000085;
	transition: opacity 250ms;
}

.historyAaa > span {
	display: block;
	white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

span.historyName {
    font-size: 1.6em;
}

.topbar > h1 {
	font-weight: 400;
}

.historyButtons > button {
    width: var(--button-size);
    height: var(--button-size);
    appearance: none;
    border: none;
    background: none;
    color: var(--text-muted);
    font-size: var(--button-size);
	padding: 0;
	cursor: pointer;
	outline: none;
	transition: color 250ms;
}

.historyButtons > button:hover {
    color: #ffd587;
}

.historyButtons > button:active {
    color: gold;
}

.historyButtons > .bxs-dislike {
	color: gold;
}
.historyButtons > .bxs-like {
	color: gold;
}
.gridmode #history {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding-left: 2%;
    gap: 1.5%;
	padding-top: 2%;
	animation: gridIn 800ms;
}

.hI {height: var(--recents-album-image-size);transition: width 500ms, height 500ms, padding 500ms;width: 100%;}

#history {
    transition: padding 500ms, gap 500ms;
}

.gridmode .historyButtons {
    z-index: 2;
    animation: yea 250ms;
    display: flex;
    align-items: center;
    height: 100%;
}

.gridmode .historyAaa:hover {
    opacity: 1;
}

.gridmode .historyButtons button {
	width: calc(var(--recents-button-size) / 2);
	height: calc(var(--recents-button-size) / 2);
	font-size: var(--recents-button-size);
	padding: 0;
	margin: 0;
}

@keyframes yea {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@keyframes listIn {
    0% {
        display: none;
        opacity: 0;
    }
    80% {
        display: none;
        opacity: 0;
    }
    100% {
        display: flex;
        opacity: 1;
    }
}

@keyframes gridIn {
    0% {
        opacity: 1;
	}
	20% {
		opacity: 0;
	}
	80% {
		opacity: 0;
	}
    100% {
        opacity: 1;
    }
}


input#search {
    appearance: none;
    background: none;
    border: none;
    font: inherit;
    font-size: 1.3rem;
    border-bottom: dotted 3px var(--text-muted);
    color: var(--text-color);
    margin-left: 2rem;
    margin-right: 2rem;
    outline: none;
    flex: 1 1;
    width: 0;
}

#refresh {
	background: none;
	border: none;
	color: var(--text-color);
	font-size: 1em;
	outline: none;
}

@keyframes spinney {
    0% {
        transform: scaleX(-1) rotate(359deg);
    }
    100% {
        transform: scaleX(-1) rotate(0deg);
    }
}
@media (prefers-reduced-motion: no-preference) {
	#refresh:active::before {
		animation: spinney 1.5s linear infinite;
	}
}
section#loginSection {
    display: flex;
    align-items: center;
    flex-direction: row;
}

div#loginMain {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

#loginMain > h1 {
    font-size: 3em;
    font-family: var(--header-font-family);
    font-weight: 400;
}

#login > span > input {
    background: none;
    color: var(--text-color);
    font-size: 1.5em;
    margin: 0.5em;
    padding: 0.4em;
    border:  none;
    border-bottom: dotted 2px var(--text-muted);
    font-family: var(--header-font-family) !important;
	overflow: visible;
	padding-left: 2em;
	width: 10em;
}

#loginButton {
    background: none;
    color: var(--text-color);
    font-size: 1.8em;
    border: none;
    font-family: inherit;
}

#login > span {
    position: relative;
}

.inputicon {
    position: absolute;
    bottom: 0;
    top: calc(50% - 0.6rem);
    font-size: 1.4rem;
    left: 0.6em;
}

button#loginButton {
    border: solid 1px var(--text-color);
    border-radius: 0.5em;
    padding: 0.1em 1em;
    outline: none;
    transition: background 150ms;
}

button#loginButton:hover {
    background: var(--interactive-hover);
}

button#loginButton:active {
    background: var(--interactive-active);
}

#butwhytho:before, #closeExp:before {content: "[ ";}

#butwhytho:after, #closeExp:after {content: " ]";}

#butwhytho, #closeExp {
    text-decoration-color: var(--text-muted);
    color: var(--text-color);
    text-decoration-color: var(--text-muted);
    background: none;
    border: none;
    font: unset;
    text-decoration: underline;
	text-decoration-style: dashed;
	margin-top: 1em;
}

#loginMain > a#butwhytho {
	margin-top: 1em;
}

/* 12:56AM paste */
#player {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#player .bx {
    background: none;
    color: var(--player-button-color);
    height: var(--player-button-size);
    width: var(--player-button-size);
    font-size: var(--player-button-size);
    border-radius: 100%;
    outline: none;
    transition: background-color 200ms;
	cursor: pointer;
	border: none;
	position: relative;
}

#topControls, #bottomControls {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    margin-bottom: 15px;
}

#topControls .bx {
    width: var(--player-big-button-size);
    height: var(--player-big-button-size);
    font-size: var(--player-big-button-size);
    border: none;
    position: relative;
    margin: 0 3px;
}

#player .bx:hover {
    background: var(--interactive-hover);
}

a#albumLink {
	height: var(--art-size);
	width: var(--art-size);
	margin: calc(var(--width) / 20) 0;
	background: var(--background-floating);
	border-radius: 8px;
	overflow: hidden;
	max-width: 400px;
	max-height: 400px;
}

#bottomControls .bx {
	opacity: 0.6;
	width: 1.5em;
	height: 1.5em;
}

#player button#mute {
    border: none;
    height: var(--player-big-button-size);
    width: var(--player-big-button-size);
	font-size: var(--player-big-button-size);
	position: relative;
	margin-right: 1rem;
	font-size: 2rem;
	width: 1em;
	height: 1em;
}
#player button#mute:hover {
	background: none; /* let's not */
}

img#albumArt {
    height: 100%;
    width: 100%;
}

div#volumeBar {
    width: 10rem;
    min-height: 0.2rem;
    max-height: 0.4rem;
}

div#volume {
    display: flex;
    align-items: center;
}

#seekBar {
    width: var(--art-size);
    margin-bottom: 20px;
}

form#login {
    display: flex;
    align-items: center;
    flex-direction: column;
}

div#loginExplanation {
    position: absolute;
	bottom: var(--height);
	height: var(--height);
    left: 0;
    right: 0;
    background: var(--background-floating);
	padding: 1em;
	box-sizing: border-box;
	transition: bottom 500ms ease-in-out;
}


#loginExplanation h1 {
    font-weight: 400;
	font-size: 1.8em;
	font-family: var(--header-font-family);
}

#loginExplanation p, #loginExplanation ol {
    font-family: system-ui;
}
#topControls .bx:before {
    position: relative;
    right: 3px;
    text-align: center;
}

.hI > img:before {
	content: "\e97a";
	color: white;
	height: 100%;
	width: 100%;
	font-family: 'boxicons';
	font-size: var(--recents-album-image-size);
	display: block;
}

.gridmode .historyAaa > span {
    display: none;
}

.gridmode button {
    color: white;
}

#goleft.naw, #goright.naw {
	display: none;
	opacity: 0;
	animation: nawOut 500ms;
}

@keyframes nawOut {
	0% {
		display: block;
		opacity: 1;
	}
	99% {
		opacity: 0;
	}
	100% {
		display: none;
	}
}

@keyframes yeaIn {
	0% {
		display: block;
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}