:root {
	--background: black;
	--background-floating: #1b1b1b;
	--text-color: white;
	--text-muted: grey;
	--font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
	--header-font-family: "Zilla Slab";
	--accent-color: #009a00;
	--width: 500px;
	--height: 579px;
	--button-size: 2rem;
	--interactive-active: #ffffff2b;
	--interactive-hover: #ffffff33;
	--recents-album-image-size: 9em;
	--recents-button-size: calc(var(--recents-album-image-size) / 4);
	--player-button-color: white;
	--player-button-size: 1.7rem;
	--player-big-button-size: 3.5rem;
	--art-size: calc(var(--width) / 2);
}

html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background: var(--background);
	color: var(--text-color);
	transition: all 250ms;
}