.main {
	padding: 2rem;
}

.station {
	--width: 226px;
	width: var(--width);
	padding: 16px;
	position: relative;
	display: flex;
	background: var(--bg);
	border-radius: 4px;
	transition: background .3s ease;
	cursor: pointer;
}
.station:hover {
	background: var(--bghover);
}
.stationInner {
	height: 100%;
	width: 100%;
}
.imgHolder {
	width: 100%;
	position: relative;
	margin-bottom: 15px;
}
.staticon {
	width: 100%;
	aspect-ratio: 1/1;
	object-fit: cover;
	object-position: center;
	box-shadow: 0 8px 24px rgba(0, 0, 0, 0.5);
}
.infoHolder {
	margin-bottom: 1em;
}
.h1 {
	font-size: 16px;
	font-weight: 700;
	line-height: 24px;
	letter-spacing: normal;
	text-transform: none;
	margin-bottom: 0.2rem;
}
.sub {
	font-size: 14px;
	font-weight: 400;
	line-height: 16px;
	letter-spacing: normal;
	text-transform: none;
	color: var(--text-muted);
}
.play {
	position: absolute;
	bottom: 0;
	right: 0;
}
.sauceindicator {
	width: 20%;
	position: absolute;
	top: 0;
	left: 0;
}
.h1, .sub {
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
	display: block;
}

.play {
    appearance: none;
    border: none;
    background: #41c741;
    padding: 0.3em;
    font-size: 2rem;
    color: white;
    border-radius: 100%;
    bottom: 4px;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.3);
    transform: translate(0, 0) scale(1);
    opacity: 0;
    transition: all .25s ease;
	cursor: default;
	outline: none;
}

.station:hover .play, .station:focus .play, .station:focus-within .play {
    opacity: 1;
    transform: translate(0,-10px) scale(1);
}
.station button.play:active {
	transform: translate(0, -10px) scale(0.95);
}