:root {
	--background: rgb(8 14 38);
	--background-floating: hsl(228deg 67% 13%);
	--background-floating-higher: #292a2d;
	--text-color: white;
	--text-muted: grey;
	--font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
	--header-font-family: var(--font-family);
	--accent-color: #4bcad8;
	--width: 500px;
	--height: 579px;
	--button-size: 2rem;
	--interactive-active: #ffffff2b;
	--interactive-hover: #ffffff33;
	--recents-album-image-size: 9em;
	--recents-button-size: calc(var(--recents-album-image-size) / 4);
	--player-button-color: white;
	--player-button-size: 1.7rem;
	--player-big-button-size: 3.5rem;
	--art-size: calc(var(--width) / 2);
	--active-icon-color: gold;
	--hint-icon-color: rgb(255, 236, 130);
	--font-size: 16px;
	--icon-color: white;
}

body, #app {
	font-family: var(--font-family);

	background: var(--background);
	width: 100vw;
	max-width: 100vw;
	min-width: 100vw;
	min-height: 100vh;
	max-height: 100vh;
	height: 100vh;
	overflow: hidden;

	color: var(--text-color);
	cursor: default;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
	font-family: var(--header-font-family);
}

#main {
	position: relative;
	min-height: 100%;
	width: 0;
	overflow-y: auto;
	overflow-x: hidden;
	background: var(--background);
	flex-grow: 1;
}

#app {
	display: flex;
	flex-direction: column;
}

.growUp {
	display: flex;
	align-items: stretch;
	width: 100%;
	height: calc(100vh - 5rem);
}