:root {
	--background: black;
	--background-floating: #1b1b1b;
	--background-floating-higher: #292a2d;
	--text-color: white;
	--text-muted: grey;
	--font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
	--header-font-family: "Zilla Slab";
	--accent-color: #4BD89B;
	--width: 500px;
	--height: 579px;
	--button-size: 2rem;
	--interactive-active: #ffffff2b;
	--interactive-hover: #ffffff33;
	--recents-album-image-size: 9em;
	--recents-button-size: calc(var(--recents-album-image-size) / 4);
	--player-button-color: white;
	--player-button-size: 1.7rem;
	--player-big-button-size: 3.5rem;
	--art-size: calc(var(--width) / 2);
	--active-icon-color: gold;
	--hint-icon-color: rgb(255, 236, 130);
	--font-size: 16px;
	--icon-color: white;
}

html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	color: var(--text-color);
	font-family: var(--font-family);
	font-size: var(--font-size);
	/*transition: all 250ms;*/
}

body {
	background: var(--background);
	display: flex;
	flex-direction: column;
	align-items: center;
}
h1 {
	font-size: 2rem;
	font-weight: 400;
	margin-bottom: 12px;
	margin-top: 21px;
	padding-bottom: 4px;
	padding-top: 8px;
	margin-left: 0;
	margin-right: 0;
	padding-left: 0;
	padding-right: 0;
	border-bottom: solid 1px var(--text-muted);
}

main {
	min-height: max-content;
	width: 100%;
	max-width: 800px;
	margin: 0;
	padding: 2em;
	background: var(--background-floating);
	box-sizing: border-box;
	color: var(--text-color);
}

.inner {
	min-height: 48px;
	display: flex;
	align-items: center;
	width: 100%;
}

.labelWrapper {
	padding: 12px 0;
	flex: 1;
	flex-basis: 0.000000001px;
	font-weight: 500;
	color: var(--text-color);
	font-size: var(--font-size);
}
ul {
	background: var(--background-floating-higher);
	border-radius: 4px;
	flex: 1;
	display: block;
	padding: 0;
	margin: 0;
}
li {
	align-items: center;
	display: flex;
	padding: 0 20px;
	line-height: 154%;
}
li:not(:first-of-type) {
	border-top: 1px solid rgba(255,255,255,0.1);
}

.label-primary {
	flex-grow: 1;
}
.label-secondary {
	color: var(--text-muted);
	font-weight: 400;
}
.toplogo {
	max-width: 196px;
}

h2 {
	text-decoration: var(--accent-color) underline 3px;
	cursor: default;
}

div {
	cursor: default;
}

input[type="number"] {
	width: 3.8rem;
    padding: 0 0.3rem;
    border: 0;
    background: var(--background-floating);
    color: var(--text-color);
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
	font-size: inherit;
    box-sizing: border-box;
    height: 24px;
    text-align: center;
    outline: none !important;
    /* transition: all 50ms; */
}

input[type="number"]:invalid {
	color: red;
}

.measurement {
	width: 2em;
    padding: 0;
    border: 0;
    background: var(--background-floating);
    color: var(--text-color);
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
	font-size: inherit;
    box-sizing: border-box;
    height: 24px;
    text-align: left;	
	outline: none !important;
	user-select: none;
}


.react-switch-bg {
	background: var(--background) !important;
	transition: background-color 150ms !important;
}
.toggleChecked > .react-switch-handle {
	background: var(--active-icon-color) !important;
}
.toggleUnchecked > .react-switch-handle {
	background: var(--icon-color) !important;
}
.toggleChecked:hover > .react-switch-handle {
	background: var(--hint-icon-color) !important;
}
.react-switch-bg > div:nth-child(1) > svg > path {
	fill: var(--active-icon-color);
	transition: fill 150ms !important;
}
.toggleChecked:hover > .react-switch-bg > div:nth-child(1) > svg > path {
	fill: var(--hint-icon-color);
}
.react-switch-bg > div:nth-child(2) > svg > path {
	fill: var(--icon-color);
}