.icontoggle {
    appearance: none;
    width: 1.3em;
    height: 1.3em;
    background: none;
    border: none;
    border-radius: 0.3em;
    outline: none;
    transition: text-shadow 250ms, background-color 250ms, color 250ms;
    cursor: pointer;
    align-self: center;
	font-size: inherit;
	color: var(--icon-color);
    display: flex;
	align-items: center;
	text-shadow: 0 0 transparent;
}

.icontoggle::before {
    width: 100%;
    text-align: center;
}
.icontoggle:checked {
	background: var(--active-icon-color);
/*	color: var(--hint-icon-color);
	text-shadow: 2px -2px 2px var(--icon-color);*/
	color: var(--icon-color);
}

.icontoggle:not(:checked):hover {
    color: var(--hint-icon-color);
}